@import 'compass';

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-person:before {
    content: "\e600";
}
.icon-pin:before {
    content: "\e601";
}

//$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$lato: 'Noticia Text', serif;
$lato: 'Lato', sans-serif;

$green: #c4d0a4;
$orange: #E89549;
$red: #FF0000;
$purple: #540CE8;
$maroon: #9D736C;
$dark: rgb(0, 55, 114);
$blue: #abbbcc;
$light: #ffffff;
$neutral: #333;
$dim: rgba(0, 0, 0, 0.75);

$sidebar-width: 20rem;

* {
	@include box-sizing(border-box);
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: $lato;
	background: $dark;
}

h1, h2, h3 {
	font-weight: 100;
}

#map-canvas {
	display: none; // Hide on mobile
	height: 100%;

	margin-left: $sidebar-width;

	@media screen and (min-width: 40em) {
		display: block;
	}
}

header {

	background: $dark;
	padding: 1em 0 0;
	width: 100%;
	color: #efefef;

	h1 {
		margin: 0;
		font-weight: 100;
		font-size: 3em;
		text-align: center;
	}

	h2 {
		padding: 0 1rem;
	}

	p {
		font-size: 0.9em;
		padding: 0 1rem;
	}

	a {
		color: $orange;
	}

	@media screen and (min-width: 40em) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0;

		h1 {
			display: inline-block;
			width: $sidebar-width;
			font-size: 3em;
			margin: 0.6rem 0;
		}

		p.description {
			position: absolute;
			width: $sidebar-width;
		}
	}
}

.filters {
	input {
		position: absolute;
		@include opacity(0);
	}

	label {
		text-transform: uppercase;
		font-weight: lighter;
		text-align: center;
		padding: 1em;
		cursor: pointer;
		@include inline-block;

		&:hover {
			background: lighten($dark, 10%);
		}
	}

	label:not(:first-of-type) {
		margin-left: -4px;
	}

	label[for*=trend] {
		width: 50%;
	}

	label[for*=timeofday] {
		width: 33%;

		&:last-of-type {
			width: 34%;
		}
	}

	input:checked + label {
		background: lighten($dark, 10%);
		box-shadow: inset 0 0 20px 2px rgba(125, 125, 175, 0.6);
	}

	.time-of-day {
		background: darken($dark, 5%);
		max-height: 0;
		@include transition(all 0.4s ease-in-out);
		@include opacity(0);

		&.open {
			max-height: 200px;
			@include opacity(1);
		}
	}

	@media screen and (min-width: 40em) {
		width: 63%;
		position: absolute;
		top: 0;
		left: $sidebar-width;

		.time-of-day {
			display: inline-block;
			width: 49%;
		}

		label {
			padding: 1.8em 1em;
		}

		label[for*=trend] {
			width: auto;
		}
	}
}

.trends {
	background: $neutral;
	color: $light;

	h2 {
		margin-top: 0;
        padding: 1em 1em 0;
	}

	@media screen and (min-width: 40em) {
		position: absolute;
		width: $sidebar-width;
		left: 0;
		bottom: 0;
		top: 175px;
		z-index: 10;
		overflow: scroll;
	}
}

#trends-list {
	list-style: none;
	padding: 0;
	margin: 0;
	color: $light;

	li {
		overflow: hidden;
	}

	a {
		text-decoration: none;
		display: block;
		color: $light;
		opacity: 0.9;
		filter: alpha(opacity=0.9);
        padding: 1em;

		@include transition(background 0.3s ease-in-out);

		&:hover {
			background: #000;
		}
	}

	h4 {
		margin: 0;
		padding: 0.5em;
		font-weight: lighter;
	}

	.none {
		color: $red;
		padding: 1em;
		display: block;
	}

	.here-now, .total-checkins {
		@include inline-block;
	}

	.here-now {
		font-size: 2em;
		font-weight: 100;
		padding-right: 1rem;
	}

	.total-checkins {
		color: #999;
	}
}

footer {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1em;
	font-size: 0.7em;
	background: $dim;
	color: $light;
	text-align: right;

	a, a:visited {
		color: $light;
	}

	p {
		margin: 0;
	}
}

// Hide .here-now when we're on alltime venues
.alltime {
    .here-now {
        display: none !important;
    }

    .total-checkins {
        padding-left: 0.4em;
    }
}
